NODE_ENV=production
PORT=4000
HOST=0.0.0.0
DATABASE_URL=
DATABASE_SSL=true
DB_POOL_MAX=5
FRONTEND_URL=
COOKIE_DOMAIN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
CRON_SECRET=
BKASH_BASE_URL=https://tokenized.pay.bka.sh/v1.2.0-beta
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_CALLBACK_URL=
NAGAD_BASE_URL=https://sandboxapi.nagad.com.bd/remote-payment-gateway-1.0/api/dfs
NAGAD_MERCHANT_ID=
NAGAD_MERCHANT_NUMBER=
NAGAD_MERCHANT_PRIVATE_KEY=
NAGAD_PG_PUBLIC_KEY=
NAGAD_CALLBACK_URL=
NAGAD_CURRENCY_CODE=050
JWT_SECRET=
